 body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background: #3b5998;
  background-image: url(paper.png);
}
img{
  border-radius: 1200px;
}
em{
  color: red;
  text-shadow: 2px 2px red;
}
video{
  height: 400px.;
  width:  200px;
  box-shadow: 3px 3px dodgerblue;
}
h1,small,h{
  color: aqua;
  text-shadow: 2px 2px 3px aqua;
}
.topnav {
  background: transparent;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 5px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
background: #04aa6d;
  color: black;
  border-radius: 5px;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
  border-radius: 5px;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 
button{
  width: 70px;
  text-align: center;
  height: 30px;
  margin: 15px;
  border-radius: 20px;
  background: greenyellow;
  color: chocolate;
}

h4{
  color: chartreuse;
}
h1{
  font-size: 21px;
}
.ser{
  text-align: left;
}

a{
  text-decoration: none;
  color: burlywood;
}

a:hover{
  color: aqua;
}
ul{
  list-style-type: square;
}
p, #pp{
  color: darksalmon;
}

.srch{
  border-color: gold;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.py{
  width: 150px;
  height: 150px;
}
input{
  margin: 10px;
  height: 40px;
  border-radius: 5px;
}
.help{
  border: 1px solid blue;
  border-radius: 6px;
}
.but{
  background: chocolate;
  border-radius: 5px;
  height: 40px;
  color: #333;
}
#text{
  color: aquamarine;
  position: fixed;
  top: 50%;
  ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  _moz-tranform: translateY(-50%);
  transform: translateY(-50%);
  left: 50;
}
.link{
  width: auto;
  background: greenyellow;
}
.linked{
  width: 70px;
  height: 50px;
  background: cyan;
  border: 2px solid blue;
  border-radius: 23px;
}
@media screen and (max-width: 300px){
  h1{
    font-size: xx-small, x-small, small
  }
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
@media screen and (min-width: 600px){
  
.linked{
  width: 160px;
  height: 100px;
  background: cyan;
  border: 2px solid blue;
  border-radius: 23px;
}
}

.load-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("iconic.jpg");
  background-size:  cover;
  background-position: center;
}

.loader {
  border: 5px solid #333;
  border-top: 5px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.2s linear infinite;
  background: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
